# Ignoriere globale Entwicklungsdateien
.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
# Das ist wichtig:
vendor/
node_modules/

# Optional für frontend/backend im Monorepo (Schutz bei Unterprojekten)
frontend/node_modules/
frontend/vendor/
backend/node_modules/
backend/vendor/

# Tests und Cache
/phpunit.xml
.phpunit.result.cache

# Asset Mapper & Assets
/public/assets/
/assets/vendor/
