# Backend
backend/.env.local
backend/.env.local.php
backend/.env.*.local
backend/config/secrets/prod/prod.decrypt.private.php
backend/public/bundles/
backend/var/
backend/vendor/
backend/public/assets/
backend/assets/vendor/
backend/public/uploads/
backend/phpunit.xml
backend/.phpunit.result.cache
backend/Dockerfile
backend/docker-compose.yml

# Frontend
frontend/node_modules/
frontend/public/node_modules/
frontend/public/vendor/
